{% extends "/common/content.twig" %}

{% block title %}
    {{ parent() }} | Сигнал SOS!
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

        <h1>Случилась беда? Быстрее сообщи остальным!</h1>

        <div class="intro">
            <p>Сервис "SOS" создан для взаимопомощи нашим ребятам и девушкам. Если случается неприятность, будь то ДТП или поломка можно сообщить об этом небезраличным людям.<br/>
            <p>Предназначение "сигнала SOS" - уведомлять о чрезвычайных ситуациях, чтобы попросить помощи, возможность докричаться.
        </div>
{% endblock %}